configuration{
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "Ghostty";
    drun-display-format: "{icon}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

@theme "catppuccin-mocha"
